<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPWNdIsbe5uWYY4DhfmwR9MM2VJcmKnVw</string>
	<key>GCM_SENDER_ID</key>
	<string>79105574650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushNotificationsApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-a86d2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-a86d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79105574650:ios:7a07bc3b62f4a7fb64eb43</string>
</dict>
</plist>